* {
  clear: both;
  margin: 0;
  padding: 0;
}
.container {
  padding: .1rem;
  width: calc(100% - .2rem);
}
.container form {
  line-height: .3rem;
}
.canvas {
  width: calc(100% - .1rem);
  height: 10rem;
  padding: .1rem;
}
.canvas #main {
  width: inherit;
  height: inherit;
}

.container div span{
  position: relative;
  /* top: 1%; */
  right: 5%;
  font-size: smaller;
  line-height: 34px;
  color: darkgrey;
}